extends layout

include mixins/flappy_scripts

block scripts
  mixin flappy_scripts()

block content
  h2= title

  p
    a(href='/')= 'home'

  canvas(
    id="myCanvas"
    style="border: 1px solid #000000;"
    width="400"
    height="400"
    )