extends layout

block content
  h1= title
  p Welcome to box_land with boxy and flappy_box!

  p
    a(href='boxy')= 'boxy'
  p
    a(href='flappy_box')= 'flappy_boxy'
  p
    a(href='dodge_box')= 'dodge_box'
