doctype html

include mixins/header
include mixins/footer

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    block scripts

  body
    div(class='container')
      block header
        mixin header()
      block content
      block footer
        mixin footer()