body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #3399FF;
  background-color: #1A1A1A;
}

a {
  color: #3399FF;
}

.container {

}

.header {
  color: #1A1A1A;
  background-color: #3399FF;
  width: 100%;
  height: 50px;
}

.footer {
  color: #1A1A1A;
  background-color: #3399FF;
}

.game {

}

#game_canvas {

}

#hud_canvas {
  
}